<!DOCTYPE html>
<html>
	<head>
		<base href="/">
		<meta charset="UTF-8">
		<title><%= htmlWebpackPlugin.options.title %></title>
		<link rel="shortcut icon" href="assets/favicon.ico"/>
	</head>
	<body>
		<div></div>
		<% _.forEach(htmlWebpackPlugin.files.js, value => { %>
			<% if(_.includes(value, 'polyfills')) { %>
				<script>window.fetch || document.write('<script src="<%= value %>"><\/script>')</script>
			<% } else { %>
				<script defer src="/<%= value %>"></script>
			<% } %>
		<% })%>
	</body>
</html>
